aiofiles==0.6.0
aiohttp==3.7.4.post0
aniso8601==9.0.1
async-timeout==3.0.1
asyncpg==0.18.3
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
h11==0.9.0
httpcore==0.11.1
httptools==0.2.0
httpx==0.15.4
idna==3.1
importlib-metadata==4.0.1
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
methodtools==0.4.2
multidict==5.1.0
psycopg2-binary==2.8.5
pyrsistent==0.17.3
python-dateutil==2.8.1
rfc3986==1.4.0
sanic==20.12.3
Sanic-Cors==0.10.0.post3
sanic-jinja2==0.9.1
Sanic-Jinja2-SPF==0.8.0
Sanic-Plugins-Framework==0.9.5
sanic-restplus==0.5.5
six==1.15.0
sniffio==1.2.0
typing-extensions==3.7.4.3
ujson==4.0.2
uvicorn==0.13.4
uvloop==0.14.0
websockets==8.1
wirerope==0.4.2
yarl==1.6.3
zipp==3.4.1
